CustomerInformation.App/CustomerInformation.App/Connected Services/AddressService/AddressService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50993/AddressService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50993/AddressService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50993/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressService_GetHomeAddressById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeAddressById" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetHomeAddressById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomeAddressByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetOfficeAddressById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficeAddressById" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetOfficeAddressById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficeAddressByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddressService">
    <wsdl:operation name="GetHomeAddressById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetHomeAddressById" message="tns:IAddressService_GetHomeAddressById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetHomeAddressByIdResponse" message="tns:IAddressService_GetHomeAddressById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfficeAddressById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetOfficeAddressById" message="tns:IAddressService_GetOfficeAddressById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetOfficeAddressByIdResponse" message="tns:IAddressService_GetOfficeAddressById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressService" type="tns:IAddressService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHomeAddressById">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetHomeAddressById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfficeAddressById">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetOfficeAddressById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port name="BasicHttpBinding_IAddressService" binding="tns:BasicHttpBinding_IAddressService">
      <soap:address location="http://localhost:50993/AddressService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>