CustomerInformation.App/CustomerInformation.App/Connected Services/AddressService/AddressService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50993/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" />
  <xs:element name="GetHomeAddressById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeAddressByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" minOccurs="0" name="GetHomeAddressByIdResult" nillable="true" type="q1:AddressByIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeAddressById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeAddressByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" minOccurs="0" name="GetOfficeAddressByIdResult" nillable="true" type="q2:AddressByIdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>