CustomerInformation.App/CustomerInformation.App/Connected Services/CustomerService/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50993/CustomerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfAddressCreateModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressCreateModel" nillable="true" type="tns:AddressCreateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressCreateModel" nillable="true" type="tns:ArrayOfAddressCreateModel" />
  <xs:complexType name="AddressCreateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PhoneNumbers" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressCreateModel" nillable="true" type="tns:AddressCreateModel" />
</xs:schema>