CustomerInformation.App/CustomerInformation.App/Connected Services/CustomerService/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Customers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50993/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" />
  <xs:complexType name="CustomerCreateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" minOccurs="0" name="HomeAddresses" nillable="true" type="q1:ArrayOfAddressCreateModel" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Addresses" minOccurs="0" name="OfficeAddresses" nillable="true" type="q2:ArrayOfAddressCreateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerCreateModel" nillable="true" type="tns:CustomerCreateModel" />
  <xs:complexType name="CustomerUpdateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddressId" type="xs:int" />
      <xs:element minOccurs="0" name="HomePhoneId" type="xs:int" />
      <xs:element minOccurs="0" name="HomePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeAddressId" type="xs:int" />
      <xs:element minOccurs="0" name="OfficePhoneId" type="xs:int" />
      <xs:element minOccurs="0" name="OfficePhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerUpdateModel" nillable="true" type="tns:CustomerUpdateModel" />
  <xs:complexType name="DeleteByIdModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteByIdModel" nillable="true" type="tns:DeleteByIdModel" />
  <xs:complexType name="ArrayOfGetAllDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllDataModel" nillable="true" type="tns:GetAllDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllDataModel" nillable="true" type="tns:ArrayOfGetAllDataModel" />
  <xs:complexType name="GetAllDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddresses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeAddresses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficePhones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllDataModel" nillable="true" type="tns:GetAllDataModel" />
</xs:schema>