CustomerInformation.App/CustomerInformation.App/Connected Services/PhoneService/PhoneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50993/PhoneService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50993/PhoneService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50993/PhoneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CustomerInformation.Models.Phones" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneService_GetHomePhoneNumberById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomePhoneNumberById" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_GetHomePhoneNumberById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomePhoneNumberByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_GetOfficePhoneNumberById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficePhoneNumberById" />
  </wsdl:message>
  <wsdl:message name="IPhoneService_GetOfficePhoneNumberById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficePhoneNumberByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhoneService">
    <wsdl:operation name="GetHomePhoneNumberById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneService/GetHomePhoneNumberById" message="tns:IPhoneService_GetHomePhoneNumberById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneService/GetHomePhoneNumberByIdResponse" message="tns:IPhoneService_GetHomePhoneNumberById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfficePhoneNumberById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneService/GetOfficePhoneNumberById" message="tns:IPhoneService_GetOfficePhoneNumberById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneService/GetOfficePhoneNumberByIdResponse" message="tns:IPhoneService_GetOfficePhoneNumberById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneService" type="tns:IPhoneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHomePhoneNumberById">
      <soap:operation soapAction="http://tempuri.org/IPhoneService/GetHomePhoneNumberById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfficePhoneNumberById">
      <soap:operation soapAction="http://tempuri.org/IPhoneService/GetOfficePhoneNumberById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneService">
    <wsdl:port name="BasicHttpBinding_IPhoneService" binding="tns:BasicHttpBinding_IPhoneService">
      <soap:address location="http://localhost:50993/PhoneService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>